@font-face {
    font-family: 'IM Fell DW Pica';
    src: url('/_static/fonts/IMFellDWPica-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'IM Fell DW Pica';
    src: url('/_static/fonts/IMFellDWPica-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

ul {
    list-style-type: '- '; 
}

body {
    counter-reset: sidenote-counter;
}

main {
    font-size: 1.2rem;
}

/* Code styling */
code,
pre code,
div.sourceCode code,
div.sourceCode pre code,
p > code,
li > code {
    font-size: 0.8rem !important;
}

.cell-output code {
    font-size: 0.8rem !important;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -270px;
    width: 250px;
    max-width: 250px;
    margin-top: .3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: 'IM Fell DW Pica';
    font-feature-settings: "smcp";
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: .1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -270px;
    width: 250px;
    max-width: 250px;
    text-align: left;
}

.marginnote>code,
.sidenote>code {
    font-size: 1rem;
}

/* Toggle for sidenotes */
input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    max-height: 2rem;
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}

/* Mobile styles for sidenotes - trigger when main content + sidenote width + some padding won't fit */
@media(max-width: 900px) {
    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked+.sidenote,
    .margin-toggle:checked+.marginnote {
        display: block;
        float: none;
        left: 0;
        clear: both;
        width: 100%;
        max-width: none;
        position: relative;
        padding: 1rem;
    }

    label {
        cursor: pointer;
    }
}
